.signupContainer  {
    display: flex;
    flex-direction: column;
    height: 100vh;    
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    flex-wrap: nowrap;
}

.signupFormContainer {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    border-radius: 1rem;
    font-size: 1rem;
    justify-content: space-evenly;
}

.signupBanner {
    font-size: 2rem;
    font-weight: bold;
    color: Black;
    text-align: center;
}

.signupForm  {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2rem;
    font-family: 'Poppins', sans-serif;
    flex-shrink: 1;
    flex-wrap: wrap;
}


.signupFormFields {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    width: 200px;
    border-radius: 1rem;
    height: 50px;
    box-sizing: border-box;
    outline: none;
    border: 0.5px solid rgba(0, 0, 0, 0.288);
    padding-left: 1rem;
}



.signupFormLabels {
    font-size: 1.1rem;
    display: flex;
    justify-content: left;
}

.signupButton {
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
}



.googleButton {
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    overflow: none;
    justify-content: center;
    align-items: center;
    background-color: var(--cornflower-blue);
    color: white;
    border-radius: 1rem;
    outline: hidden;
    border: none;
    width: 100%;
    height: 50px;
    padding: 1rem 2rem;
    gap: 1rem;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
}


.googleButton:active , .signupButton:active, .googlebutton:focus , .loginbutton:focus {
    background-color: var(--cornflower-blue);
    color: black;
}


.firstnameContainer, .lastnameContainer, .emailContainer , .passwordContainer, .confirmPasswordContainer {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: left;
    gap: 5px;
}

.nameContainer , .credentialsContainer {
    display: flex;
    flex-direction: row;
    overflow: none;
    gap: 1rem;
}

.disclaimerContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.agreeDisclaimer {
    transform: scale(1.5);
}

.agreeDislaimerText {
    font-size: 0.8rem;
}


.signupLink {
    text-align: center;
}

.googleButton:hover , .signupButton:hover, .googlebutton:active , .loginbutton:active {
    background-color: var(--cornflower-blue);
    color: black;
    cursor: pointer;
}

/* ================================ */


.bookshelves {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}


.mainDiv {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
}

.mainInnerLoginContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1000px;
    border-radius: 1rem;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.leftDiv {
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 0 0 1rem;
    background-color: var(--blue-bell);
}

.rightDiv {
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

